---
import '@fontsource-variable/pixelify-sans';
import Layout from '../layouts/Layout.astro';
import Modalshowcom from '../components/React/ModalCont';
import Cardsimages from '../components/React/Cardsimg';
import Content from '../components/React/Contendindex';
---

<Layout title="Galactic Odyssey">
  <!-- Sección Hero -->
  <div class="relative h-screen bg-zinc-900 text-white">
    <img src="/images/Galaxy.png" alt="Hero Background" class="absolute inset-0 w-full h-full object-cover opacity-60">
    <div class="relative z-10 flex flex-col items-start justify-center h-full px-8 md:px-16 lg:px-24">
      <h1 class="text-4xl font-bold mb-2">Galactic Odyssey</h1>
      <p class="text-sm uppercase tracking-widest mb-4">Explorando más allá de las estrellas</p>
      <h2 class="text-5xl md:text-6xl lg:text-7xl font-bold mb-6" style="font-family: 'Pixelify Sans Variable', system-ui;">Prepárate para el futuro.</h2>
      <Modalshowcom client:load/>
    </div>
  </div>

  <!-- Contenido relevante de la pagina -->
  <Content client:load />

  <!-- Sección Películas Espaciales -->
  <div class="relative h-auto bg-zinc-900">
    <Cardsimages client:load />
  </div>
</Layout>


